In [1]:
## sample of retrieve data from Hive
from pyhive import hive
import pandas as pd

#connect to hive
con = hive.connect(host='localhost',port=10000,username='hiveuser')
cur = con.cursor()

In [2]:
#query sql
selectSQL = "SELECT * FROM KLSE.5168_HP"
data = con.cursor()
data.execute(selectSQL)
result = data.fetchall()

print(result[10])

('2008-04-30', Decimal('0.1458'), Decimal('0.1458'), Decimal('0.1433'), Decimal('0.1450'), Decimal('0.0215'), 3697200)

In [3]:
# transform result into pandas dataframe
dataframe = []
for row in result:
    data = []
    for d in row:
        data.append(d)
    dataframe.append(data)
df = pd.DataFrame(dataframe)


# print df
print(df.head(10))

            0       1       2       3       4       5            6
0        None    None    None    None    None    None          NaN
1  2008-04-17  0.1625  0.1683  0.1567  0.1592  0.0236  273720000.0
2  2008-04-18  0.1592  0.1592  0.1517  0.1517  0.0225   42812400.0
3  2008-04-21  0.1517  0.1575  0.1517  0.1533  0.0227   20798400.0
4  2008-04-22  0.1533  0.1533  0.1500  0.1525  0.0226    8673600.0
5  2008-04-23  0.1508  0.1508  0.1458  0.1492  0.0221   26454000.0
6  2008-04-24  0.1500  0.1508  0.1450  0.1467  0.0217   11625600.0
7  2008-04-25  0.1450  0.1467  0.1433  0.1458  0.0216    6522000.0
8  2008-04-28  0.1467  0.1483  0.1467  0.1483  0.0220    9339600.0
9  2008-04-29  0.1475  0.1483  0.1425  0.1458  0.0216    9040800.0